# .gitignore

.env
venv/
__pycache__/
*.pyc
db.sqlite3
.DS_Store
*$py.class

# --- MIGRACIONES (Corregido) ---
# NO ignores las migraciones. Son parte esencial del historial de tu DB.
# Solo ignoramos los archivos de caché de las migraciones si los hubiera.
**/migrations/__pycache__/