# .gitignore
.env
venv/
__pycache__/
*.pyc
db.sqlite3
.DS_Store
*$py.class
# --- 4. MIGRACIONES (Lo que pediste) ---
# Esto ignora todos los archivos dentro de la carpeta migrations...
**/migrations/*.py

# ...PERO OBLIGA a subir el archivo __init__.py (Necesario para que Python reconozca la carpeta)
!**/migrations/__init__.py